///////////////Button/////////////////////////

.parent {
    -fx-background-color:  #FFF;
}

.background{
    -fx-background-color: #333645;
}

.btns {
    -fx-background-color: transparent;
}

.btns:hover {
    -fx-background-color: #202332;
}


/////////////////////////////////////////////